<!doctype html>
<html>
    <head>
        <title>blogz assignment</title>
        <style>
        body{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
.error{
color: red;
}
nav ul {
padding: 0;
display: inline-block;
}

nav ul li {
list-style: none;
display: inline-block;
margin-right: 15px;
}

nav #user-account {
float: right;
}
p{
margin: 12px 0;
}
h3{
margin: 12px 0;
}
.author{

font-size: 16px;
font-style: italic; 
}
        
        </style>
        
    </head>
<body>
    <div class="container">
        <nav>
                <ul id="user-account">
                    <li><a href="/login">login</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/blog">all posts</a></li>
                    <li><a href="/blog/newpost">new post</a></li>
                </ul>
            </nav>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>